{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ItemMessage creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('item',{ 'slug' : app.request.get('slug'),'id' : app.request.get('item_id') }) }}">
            Back to item
        </a>
    </li>
</ul>
{% endblock %}
